.rdv{
    background:var(-- black);
    background-color: #fbeba1;
   }
   .rdv .heading{
    color:#fff;
   }
   .rdv form{
    text-align:center;
   }

   .rdv form .inputBox{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
   }

   .rdv form .inputBox input,select{
    height:4rem;
    width:49%;
    padding:01rem;
    margin:1rem0;
    font-size:1.7rem;
    color:var(-- black);
   }

   .rdv form textarea{
    height:20rem;
    resize:none;
    padding:1rem;
    font-size:1.5rem;
    width:100%;
   }
   .rdv form input[type="submit"]{
    width:20rem;
   }

   .rdv form input[type="submit"]:hover{
    background: var(--black);
   }

   .rdv form .inputBox input,select{
 width:100%;
}
.rdv form input[type="submit"]{
    width:20rem;
   }